<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="yellow">
    <a href="http://localhost:8000">Home</a>
    <a href="http://localhost:8000/about">About</a>
    <a href="http://localhost:8000/contact">Contact</a>
    <h1>This is about page</h1>

    <from>
        Enter no.<input type="text">
        <br>
        Enter name<input type="text"> 
        <br>
        Enter City <input type="text">
        <br>
        Enter Salary <input type="text">
        <br>
        <button>Submit</button>

    </from>
</body>
</html>