<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="yellow">
    <a href="http://localhost:8000">Home</a>
    <a href="http://localhost:8000/about">about</a>
    <a href="http://localhost:8000/contact">contact</a>
    <h1>This is Contact page</h1>
</body>
</html>