<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="yellow">
    <a href="http://localhost:8000">Home</a>
    <a href="http://localhost:8000/about">About</a>
    <a href="http://localhost:8000/contact">Contact</a>
    <h1>This is home page</h1>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="yellow">
         <a href="/">Home</a>
         <a href="/insert">Insert</a>
         <a href="/display">About</a>
         <a href="/contact">Contact</a>
    <h1>Welcome to the Employee Data System!</h1>
</body>
</html>