<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="yellow">
    <a href="http://localhost:8000">Home</a>
    <a href="http://localhost:8000/about">About</a>
    <a href="http://localhost:8000/contact">Contact</a>
    <h1>This is Insert page</h1>
</body>
</html> -->




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="yellow">
         <a href="/">Home</a>
         <a href="/insert">Insert</a>
         <a href="/display">About</a>
         <a href="/contact">Contact</a>
    <h1>Welcome to the Employee Data System!</h1>


    <form>
             
        Enter Empno : <input type="text">
        <br>
        Enter Name  : <input type="text">
        <br>
        Enter City  : <input type="text">
        <br>
        Enter Salary : <input type="text">
        <br>
        <button>Submit!</button>
    </form>
</body>
</html>